.hidden {
    display: none;
}

h1 {
    margin-bottom: 0;
}

p#no-objects {
    font-style: italic;
}

div#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div#top {
    min-height: 5em;
}

div#menu {
    display: inline-block;
    /*border: 1px blue dashed;*/
}

div#menu ul li {
    display: inline;
    margin-right: 1em;
}

div#menu ul li.level-2 {
    font-style: italic;
    margin-right: 0.3em;
}

div#object_menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div#object_menu {
    min-height: 2em;
}

div#object_menu ul li {
    display: inline;
    margin-right: 1em;
}

div#object-container {
    padding-top: 20px;
}

div#search_form {
    display: inline-block;
    /*border: 1px black dashed;*/
}

div#search_menu {
    display: inline-block;
    vertical-align: top;
    margin-right: 4em;
}

div#search_menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div#search_menu li {
    margin-bottom: 7px;
}

.ordering_info {
    font-size: 0.8em;
    font-weight: normal;
    font-style: italic;
}

.type-subheader {
    font-size: 1.1em;
    font-style: italic;
}

.form-label {
    font-weight: normal;
    text-align: left;
    font-style: italic;
}
.form-caption {
    font-weight: normal;
    text-align: center;
    font-style: italic;
}

.form-caption-negate {
    font-weight: normal;
    font-style: italic;
}

table.attributes {
    margin-bottom: 2em;
}

table.attributes td {
    padding: 0 7px 0 0;
}

.attribute {
    font-style: italic;
}

table#history {
    text-align: left;
}

table#history #h-who {
    min-width: 7em;
    padding: 0 2em 0.8em 0;
}

table#history #h-when {
    min-width: 11em;
    padding: 0 2em 0.8em 0;
}

table#history #h-what {
    min-width: 11em;
    padding: 0 2em 0.8em 0;
}

table#history td {
    padding: 0 20px 10px 0;
}

table.search td {
    /*border: 1px black dashed;*/
    padding: 7px 7px 7px 7px;
}

table.search .invert, .label, .field {
    vertical-align: top;
}

table.search .label {
    padding-left: 2em;
}

table.search .invert {
    text-align: center;
    font-weight: normal;
    width: 5em;
}

table.search {
    padding: 0 0 30px 0;
}

table.report {
    padding: 0 0 30px 0;
}

.field ul {
    margin-top: 0;
}

table.object th {
    padding: 0em 2em 0.8em 0;
    text-align: left;
}

table.object td {
    padding-right: 2em;
}

td.wide-state {
    /* td.wide*/
    padding: 0.5em 2em 0.3em 0;
    vertical-align: top;
    text-align: left;
    /*border: 1px black dashed;*/

    /* + */
    min-width: 5em;
}

td.narrow {
    vertical-align: top;
    text-align: left;
    /*border: 1px black dashed;*/
}

td.wide {
    padding: 0.5em 2em 0.3em 0;
    vertical-align: top;
    text-align: left;
    /*border: 1px black dashed;*/
}

.ul-simple {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.blocked, .expired {
    color: red;
}

.in-progress {
    font-weight: bold;
}

.in-progress-expired {
    font-weight: bold;
    color: red;
}

.tab-hidden:hover {
    cursor: pointer;
}

.tab-hidden {
    color: blue;
    text-decoration: underline;
}

.note-date {
    font-style: italic;
    font-size: 0.9em
}

.error {
    color: red;
}

ul.errorlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: red;
}

div#notes #table-notes {
    margin-bottom: 50px;
}

div#notes #submit-form {
    margin-top: 1em;
}

.note-message {
    padding-top: 17px;
    padding-bottom: 30px;
    text-indent: 40px;
}

.note-message-no-notes {
    padding-top: 17px;
    padding-bottom: 30px;
    text-indent: 40px;
    font-style: italic;
}

.add-note {
    font-style: italic;
}

.edit {
    padding: 0 5px 0 5px;
    font-style: italic;
    font-size: 0.8em;
}

div#info-panel {
    float: right;
    vertical-align: top;
    /*border: 1px black dashed;*/
}

span#date_on_panel {
    font-style: italic;
    margin-right: 1em;
    font-size: 0.8em;
}

div#register-div {
    margin-top: 30px;
}

table#register-table {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: left;
}

table#register td {
    padding: 5px 0 5px 0;
}
#search_submit {
    position: relative;
    left: 40%;
}

.dashed-underline {
    border-bottom: 1px dashed;
}

table.search ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.non-firm {
    font-weight: bold;
}

table#updates_report th {
    padding: 0em 2em 0.8em 0;
    text-align: center;
}

table#updates_report td {
    padding: 0em 2em 0.8em 0;
    text-align: center;
}

.helptext {
    font-style: italic;
    font-size: 0.8em;
}
